@font-face {
    font-family: 'Frutiger'; /*a name to be used later*/
    src: url('frutiger.ttf'); /*URL to font*/
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
    background-image: url(bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200%, 200%;
    font-family: Frutiger, Arial, Helvetica, sans-serif;
    font-weight: 100;
    background-color: #a5d2e6;
}

a {
    color: #293cac;
    font-family: Frutiger, Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-decoration: none;
}

h1 {
    font-family: Frutiger, Arial, Helvetica, sans-serif;
    font-weight: 100;
}

h2 {
    font-family: Frutiger, Arial, Helvetica, sans-serif;
    font-weight: 100;
}

h3 {
    font-family: Frutiger, Arial, Helvetica, sans-serif;
    font-weight: 100;
}

ul {
    list-style-type: none; /* No bullet points */
    margin: 0;
    padding: 0;
    text-align: center; /* Center the menu items */
}

ul li {
    display: inline; /* Display items inline */
}

ul li a {
    display: inline-block;
    color: white; /* White text color */
    padding: 14px 20px; /* Padding around the text */
    text-decoration: none; /* No underline */
	font-family: Frutiger, Arial, Helvetica, sans-serif;
    font-weight: 300;
}

ul li a:hover {
    background-color: #a32222; /* Change color on hover */
    background-image: url(menubghover.png);
}

ul li:last-child a {
    border-right: none; /* Remove border from the last item */
}

.bg {
	background-image: url(bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	height: 100vh;
	width: 100vw;
}
	
.content {
	position: absolute; 
	margin-top: 0px;
	transform: translateX(0%);
	width: 100%;
}

.navbar {
    background-color: #f62e2e; 
    background-image: url(menubg.png);
	width: 60%;
	text-align: center;
    display: inline-block;
}

.activetab {
	background-color: #851818;
    background-image: url(menubgsel.png);
}

.main {
    width: 60%;
    height: auto;
    min-height: 720px;
    background-color: white;
    display: inline-block;
}

.cr {
    width: 60%;
    height: auto;
    min-height: 128px;
    background-color: white;
    display: inline-block;
}

.codeblock {
    width: 192px;
    height: auto;
    background-color: #d7d8d6;
    font-style: italic;
}

.datetext {
    font-size: 10px;
}

@media (max-width: 650px) {
    .navbar {
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
    }
    .main {
        width: 100%;
    }
    .cr {
        width: 100%;
    }
}